<app-header>
  <h1 class="title">Hospital Mangement Suite</h1>
</app-header>
<div class="main-container">
  <app-side-nav class="side-nav" [navBarData]="navBarData"></app-side-nav>
  <div class="content">
    <div class="mat-elevation-z8">
      <div class="operations">
        <h2>Messages</h2>
      </div>

      <table mat-table [dataSource]="dataSource" class="table">
        <!-- Sender Column -->
        <ng-container matColumnDef="sender">
          <th mat-header-cell *matHeaderCellDef>Sender</th>
          <td mat-cell *matCellDef="let message">{{ message.from[0].name }}</td>
        </ng-container>

        <!-- message Column -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell *matCellDef="let message">{{ message.text }}</td>
        </ng-container>


        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let message">{{ message.createdAt | date:'short'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
