.title{
  margin: 0;
}
.main-container{
  display: flex;
  .side-nav{
    flex:2
  }
  .content{
    flex:8;
    padding: 1rem;
    .operations{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      .add-btn{
        text-align: right;
      }
    }

    .table{
      width: 100%;
      padding: 1rem;
      .operations{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        .operations-btn{
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
