.side-nav{
	flex: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E6CCCB;
	padding:  1rem;
	padding-top: 3rem;
	padding-bottom: 10rem;
	gap: 2rem;
  min-height: 100vh;
}
.user-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.user-image{
	border-radius: 50%;
	width: 50%;
	padding: 0.5rem;
}
.user-info-title{
	margin: 0;
}

.menu-container{
	display: flex;
	flex-direction: column;
  align-items: flex-start;
	padding: 1rem;
	gap: 1rem;
}
