<app-header>
  <h1 class="title">Hospital Mangement Suite</h1>
</app-header>
<div class="main-container">
  <app-side-nav class="side-nav" [navBarData]="navBarData"></app-side-nav>
  <div class="content">
    <div class="mat-elevation-z8">
      <div class="operations">
        <h2>Reminders</h2>
      </div>

      <table mat-table [dataSource]="dataSource" class="table">
        <!-- From Column -->
        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef>From</th>
          <td mat-cell *matCellDef="let remainder">
            {{ remainder.request.from[0].name }}
          </td>
        </ng-container>
        <!-- From Column -->
        <ng-container matColumnDef="request-time">
          <th mat-header-cell *matHeaderCellDef>Request Time</th>
          <td mat-cell *matCellDef="let remainder">
            {{ remainder.createdAt | date: "short" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
