.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 2px 6px 2px #ccc;
    padding: 4rem;
  }
  .heading{
    text-align: center;
  }
  .login-btn{
    text-align: center;
  }
}
