<app-header>
  <h1 class="title">Hospital Mangement Suite</h1>
</app-header>
<div class="main-container">
  <app-side-nav class="side-nav" [navBarData]="navBarData"></app-side-nav>
  <div class="content">
    <div class="mat-elevation-z8">
      <div class="operations">
        <h2>Requests</h2>
      </div>

      <table mat-table [dataSource]="dataSource" class="table">
        <!-- change Column -->
        <ng-container matColumnDef="change">
          <th mat-header-cell *matHeaderCellDef>Change</th>
          <td mat-cell *matCellDef="let request">{{ request.for[0].name }}</td>
        </ng-container>

        <!-- Reason Column -->
        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef>Reason</th>
          <td mat-cell *matCellDef="let request">{{ request.reason }}</td>
        </ng-container>

        <!-- replacement Column -->
        <ng-container matColumnDef="replacement">
          <th mat-header-cell *matHeaderCellDef>Replacement</th>
          <td mat-cell *matCellDef="let request">
            {{ request.replacement[0].name }}
          </td>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Requested Time</th>
          <td mat-cell *matCellDef="let request">
            {{ request.status[0].createdAt |  date:'short' }}
          </td>
        </ng-container>


        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let request">
            {{ request.status[0].title}}
          </td>

        </ng-container>

        <!-- Operations Column -->
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let request" class="operations" >
            <mat-icon (click)="sendRemainer(request._id)"
            *ngIf="request.status[0]._id === '62d6482764edfa25d9e7072a'"
            >add_alert</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
