<div class="header">
  <ng-content ></ng-content>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="onLogOut()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</div>


