<div class="example-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [type]="type !== 'password' ? type : hide ? 'password' : 'text'"
      [placeholder]="placeholder"
      [ngModel]="initialValue"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="onChange($event)"
    />

    <button
      *ngIf="type === 'password'"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      
    </button>
  </mat-form-field>
</div>
