.title{
  margin: 0;
}
.main-container{
  display: flex;
  .side-nav{
    flex:2
  }
  .content{
    flex:8;
    padding: 1rem;
    .operations{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      .add-btn{
        text-align: right;
      }
    }

    .table{
      width: 100%;
      padding: 1rem;
      .operations{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        .operations-btn{
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}


.chat-interface{
  padding:0.5rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  border: thin solid black;
  margin:0.5rem;
}

.chat-operations{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.btn{
  background-color: #966aff;
  color:white;
  border:none;
  border-radius:0.5rem;
  padding:0.5rem;
  cursor: pointer;
}
.chat-operations{
  padding: 0.5rem;
}
.chat span{
  border: thin solid black;
  border-radius: 4px;
  padding: 0.2rem;
}
.chat{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.right-side-chat{
  align-self: flex-end;
  background-color: #fff;

}
.sender-input{
  width: 100%;
}
