<app-header>
  <h1 class="title">Hospital Mangement Suite</h1>
</app-header>
<div class="main-container">
  <app-side-nav class="side-nav" [navBarData]="navBarData"></app-side-nav>
  <div class="content">
    <h1>Nurse Details</h1>
    <div class="user-details">
      <h2>Assigned Doctor: {{ nurseDetails.assignedDoctor?.name }}</h2>
      <app-custom-mat-icon (click)="onChangeRequest(nurseDetails)">swap_horizontal_circle</app-custom-mat-icon>
    </div>
  </div>
</div>
