.title {
  margin: 0;
}
.main-container {
  display: flex;
  .side-nav {
    flex: 2;
  }
  .content {
    flex: 8;
    padding: 1rem;
    .user-details {
      display: flex;
      justify-content: space-between;
    }
  }
}
