<app-header>
  <h1 class="title">Hospital Mangement Suite</h1>
</app-header>
<div class="main-container">
  <app-side-nav class="side-nav" [navBarData]="navBarData"></app-side-nav>
  <div class="content">
    <div class="mat-elevation-z8">
      <div class="operations">
        <h2>List of Doctors</h2>
        <app-custom-mat-icon (click)="onCreateDoctor()" class="add-btn">person_add</app-custom-mat-icon>
      </div>

      <table mat-table [dataSource]="dataSource" class="table">
        <!-- Doctor Column -->
        <ng-container matColumnDef="doctor-name">
          <th mat-header-cell *matHeaderCellDef>Doctor Name</th>
          <td mat-cell *matCellDef="let user">{{ user.name }}</td>
        </ng-container>
        <!-- Speciality Column -->
        <ng-container matColumnDef="speciality">
          <th mat-header-cell *matHeaderCellDef>Speciality</th>
          <td mat-cell *matCellDef="let user">{{ user.speciality }}</td>
        </ng-container>
        <!-- Nurses Column -->
        <ng-container matColumnDef="nurses">
          <th mat-header-cell *matHeaderCellDef>Nurses Assigned</th>
          <td mat-cell *matCellDef="let user">
            <ul>
              <li *ngFor="let nurse of user.nurses">{{ nurse.name }}</li>
            </ul>
          </td>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Created On</th>
          <td mat-cell *matCellDef="let user">
            {{ user.createdAt | date: "short" }}
          </td>
        </ng-container>
        <!-- Update Time Column -->
        <ng-container matColumnDef="update-time">
          <th mat-header-cell *matHeaderCellDef>Updated On</th>
          <td mat-cell *matCellDef="let user">
            {{ user.updatedAt | date: "short" }}
          </td>
        </ng-container>

        <!-- Operations Column -->
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user" class="operations">
            <app-custom-mat-icon (click)="onUpdateDoctor(user)"
              >edit</app-custom-mat-icon
            >
            <app-custom-mat-icon (click)="deleteDoctor(user._id)"
              >delete_outline</app-custom-mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
